body{
	background-color: pink;
	margin: 40px;
}
.logo{
	text-align: center;
}
.a{
	text-align: center;
}
.image2{
	text-align: center;
}
.c{
	text-align:center;
}
.b{
	text-align: center;
}
.slogan{
	text-align: center;
}